#header
{
	background-color: #fc0;
	color: #56318E;
	font-family: 'Georgia', serif;=
	padding: 10px;
	text-align: center;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#menu
{
        float: left;
        padding: 1em;
	margin-bottom: 2em;
        background-color: #fc0;
	font-family: 'Georgia', serif;=
	color: #56318E;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#everything
{
	padding: 5px;
	background-color: #fff;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#content
{
	padding: 10px;
	padding-left: 15em;
}


#content img
{
	float: right;
}

#foot
{
	color:  #fff;
	padding: 10px;
	background-color: #56318E;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
	clear: left;
}

body
{
	background-color: #EA5B20;
}
