#header
{
	background-color: #fc0;
	color: #56318E;
	font-family: 'Georgia', serif;=
	padding: 10px;
	text-align: center;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#menu
{
	float: left;
	padding-top: 1em;
	padding-bottom:1em;
	margin-right:1em;
	margin-bottom:1em;   
	width:200px;
	background-color: #fc0;
	font-family: 'Georgia', serif;=
	color: #56318E;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.menuItem 
{
	padding: 10px;
	display: block;	
	height: 20px;
	width: 180px;
	border-bottom: 5px dashed;
	text-decoration:none;
	color: #56318E;
}

.menuItem.donate
{
	width: 170px;
	border: 5px dashed #8fa850;
}

.menuItem:hover
{
	background-color: #8fa850;
}

.current
{
	background-color: #56318E;	
}

.menuItem.current, .menuItem:hover
{
	color: #fff;
}

.menuItem.donate:hover
{
	border-color: #fff;
}

#everything
{
	padding: 1em;
	padding-top: 2px;
	background-color: #fff;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#content
{
	padding-left: 14em;
}

.floatRightImage
{
	float: right;
	margin-bottom: 1em;
	margin-left: 1em;
}

#foot
{
	color:  #fff;
	padding: 1px;
	margin-top: 1em;
	background-color: #56318E;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
	clear: both;
}

form
{
	padding-left:1em;
	padding-right: 1em;
	text-align: center;
}

form.donate
{
	display: block;
	border: 5px dashed #8fa850;
}

body
{
	background-color: #EA5B20;
}
